$mobile: new-breakpoint(max-width 768px 4);
$pink-gradient: linear-gradient(90deg, #ff99bb, #ffccdd);
@mixin h1-style() {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 3em;
}

#intro-container {
    @include outer-container(100%);
    @include background(linear-gradient(90deg, #ff99bb, #ffccdd) left repeat);
    color: white;
    text-align: center;
    @include media(max-width 480px) {
        height: 100vh;
    }

    nav {
        @include span-columns(12);
        text-align: right;
        font-family: $georgia;
        padding-top: 1vh;
        @include media($mobile) {
            @include span-columns(4);
            // position: absolute;
        }

        ul {
            @include media($mobile) {
                margin-top: 0;
            }
        }

        li {
            list-style-type: none;
            display: inline;
            padding-right: 1.5em;
            font-size: 1.1em;
            :last-child {
                padding-right: 0;
            }

            @include media($mobile) {
                display: none;
                text-align: center;
                font-size: 1.1em;
                padding-bottom: 0.5em;
            }
        }
        li:last-child {
            @include media($mobile) {
                padding-bottom: 0;
            }
        }


        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: black;
        }

        #mobile-nav-icon {
            display: none;
            @include media($mobile) {
                display: block;
                font-size: 3.5em;
                padding-right: .2em;
            }
        }
    }
}

#fixed {
    position: fixed;
    background-color: rgba(255,204,221, 0.8);
    @include media($mobile) {
        position: fixed;
    }
}



#intro-name {
    @include span-columns(10);
    @include shift(1);
    @include h1-style();
    padding-top: 5vh;
    @include media($mobile) {
        padding-top: 20vh;
    }
}

#intro-description {
    @include span-columns(10);
    @include shift(1);
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 2em;
    @include media($mobile) {
        @include span-columns(4);
        @include shift(0);
    };
}

#intro-instagram-wrapper {
    @include span-columns(10);
    @include shift(1);
}

#intro-instagram-icon {
    font-size: 5em;
    color: white;
    padding-bottom: 5vh;
    @include media($mobile) {
        padding-top:0.5em;
        font-size: 4em;
    };
    :hover {
        color: black;
    }
}
