#portfolio-container {
    @include outer-container(100%);
    text-align: center;

    h1 {
        @include h1-style();
        background: $pink-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        @include span-columns(3, block);
        @include omega(4n);


        @include media($mobile) {
            @include span-columns(4);
        }

        @include media(min-width 480px max-width 768px 4) {
            @include span-columns(2, block);
            @include omega(2n);
        }
        img {
            width: 100%;
        }
    }
}
