@import "neat/neat";
@import "bourbon/bourbon";

$mobile: new-breakpoint(max-width 768px 4);
$pink-gradient: linear-gradient(90deg, #ff99bb, #ffccdd);

html, body {
    height: 100%;
}

//intro section//
#intro-container {
    @include outer-container(100%);
    @include background(linear-gradient(90deg, #ff99bb, #ffccdd) left repeat);
    color: white;
    text-align: center;
    @include media($mobile) {
        height: 100vh;
    }
}



#navbar {
    @include span-columns(10);
    text-align: right;
    font-family: $georgia;
    padding-top: 1vh;
    font-size: 1.1em;
    @include media($mobile) {
        @include span-columns(4);
        padding-right: 1em;
    };
    li {
        list-style-type: none;
        display: inline;
        padding-right: 1.5em;
        :last-child {
            padding-right: 0;
        }
        @include media($mobile) {
            display: none;
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color: black;
    }
    #mobile-nav-icon {
        display: none;
        @include media($mobile) {
            display: block;
            font-size: 3em;
        }
    }
}



#intro-name {
    @include span-columns(10);
    @include shift(1);
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 3em;
    @include media($mobile) {
        padding-top: 10vh;
    }
}

#intro-description {
    @include span-columns(10);
    @include shift(1);
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 2em;
    @include media($mobile) {
        @include span-columns(4);
        @include shift(0);
    };
}

#intro-instagram-icon {
    @include span-columns(10);
    @include shift(1);
    font-size: 5em;
    color: white;
    padding-bottom: 5vh;
    @include media($mobile) {
        padding-top:0.5em;
        font-size: 6em;
    };
    :hover {
        color: black;
    }
}

//about me section//
#about-me-container {
    @include outer-container(100%);
    text-align: center;

    h1 {
        @include span-columns(12);
        font-family: 'Pacifico', cursive;
        font-weight: normal;
        font-size: 3em;
        background: $pink-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    img {
        @include row();
        margin: auto;
        border-radius: 50%;
    }

    p {
        @include span-columns(6);
        @include shift(3);
        font-family: $georgia;
        font-size: 1.1em;
        @include media($mobile) {
            @include span-columns(3.8);
            @include shift(.1);
        }
    }



}
